layout {

    focus-ring {
        active-color   "#b85a30"
        inactive-color "#231d1b"
        urgent-color   "#c25d4e"
    }

    border {
        active-color   "#b85a30"
        inactive-color "#231d1b"
        urgent-color   "#c25d4e"
    }

    shadow {
        color "#1d181670"
    }

    tab-indicator {
        active-color   "#b85a30"
        inactive-color "#421b0a"
        urgent-color   "#c25d4e"
    }

    insert-hint {
        color "#b85a3080"
    }
}

recent-windows {
    highlight {
        active-color "#b85a30"
        urgent-color "#c25d4e"
    }
}
